pipeline/check_file_based_on_last_modified.json
{
	"name": "check_file_based_on_last_modified",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.files",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BLOB_CSV",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "incremental",
										"folder_path": {
											"value": "@pipeline().parameters.folder_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata1').output.lastModified,'2024-06-04T06:28:09Z') ",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "BLOB_CSV",
												"type": "DatasetReference",
												"parameters": {
													"container_name": "incremental",
													"folder_path": {
														"value": "@pipeline().parameters.folder_name",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "BLOB_CSV",
												"type": "DatasetReference",
												"parameters": {
													"container_name": "incremental",
													"folder_path": "load_incremental",
													"file_name": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Insert into file config table",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "dev_snowflake",
											"type": "LinkedServiceReference",
											"parameters": {
												"database": "DATACART",
												"warehouse": "COMPUTE_WH",
												"role": "ACCOUNTADMIN"
											}
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat(\n    'INSERT INTO FILE_LOAD (FOLDER_NAME,FILE_NAME,LOAD_TIME) VALUES (',\n    decodeUriComponent('%27'),pipeline().parameters.folder_name,decodeUriComponent('%27'),',',\n    decodeUriComponent('%27'),item().name,decodeUriComponent('%27'),',',\n    decodeUriComponent('%27'),utcnow(),decodeUriComponent('%27'),decodeUriComponent('%27'),')'\n)",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"folder_name": {
				"type": "string"
			},
			"files": {
				"type": "array"
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "incremental_load_file"
		},
		"annotations": []
	}
}