pipeline/incremental_load_file_from_blob.json
{
	"name": "incremental_load_file_from_blob",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Name From Blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BLOB_CSV",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "incremental",
							"folder_path": " ",
							"file_name": " "
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate Each Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folder Name From Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folder Name From Blob').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get File Name from Folder",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BLOB_CSV",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "incremental",
										"folder_path": {
											"value": "@item().name",
											"type": "Expression"
										},
										"file_name": " "
									}
								},
								"fieldList": [
									"childItems",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get File Name from Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"file_name": {
										"value": "@activity('Get File Name from Folder').output.childItems",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}